<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/index/webIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/tour.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <title>瀏覽揪團</title>
</head>

<body>
    <div id="leaves">
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_leaf.png" alt=""></i>
    <i><img src="./images/common/img_petal_wh.png" alt=""></i>
    <i><img src="./images/common/img_petal_ye.png" alt=""></i>
</div>
<script>
    let leaf = document.getElementById("leaves");
    setTimeout(removeLeaf, 5000);
    function removeLeaf() {
        leaf.setAttribute("style", "display:none")
    };
</script> <nav id="nav">
    <!-- v-for="memRow in memRows" -->
    <!-- logo放置區 -->
    <a href="./homepage.html">
        <h1 id="logo"><img src="images/common/logo.png" alt="" /></h1>
    </a>
    <!-- 會員icon放置區 -->
    <!-- <div class="mem_icon"> -->
    <img class="memicon" @click="showLogin()" :src="memRows.MEM_IMG || './images/common/user.png'" />
    <!-- </div> -->
    <span id="spanLogin" @click="logout()"></span>

    <!-- 購物車icon放置區 -->
    <a href="./04_cart.html">
        <img class="caricon" src="images/common/cart.png" alt="" />
    </a>
    <!-- 揪團去按鈕區 -->
    <div class="go_tour" @click="addTourLogin()">揪團去</div>

    <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li>
                            <a class="underline" href="01_tour.html"
                                ><img class="navicon" src="images/common/nav_leaf.png" alt="" />茶園揪團</a
                            >
                        </li>
                        <li>
                            <a class="underline" href="02_vote.html"
                                ><img class="navicon" src="images/common/nav_leaf.png" alt="" />茶園排行</a
                            >
                        </li>
                        <li>
                            <a class="underline" href="04_shopping.html"
                                ><img class="navicon" src="images/common/nav_leaf.png" alt="" />偵茶商城</a
                            >
                        </li>
                        <li>
                            <a class="underline" href="03_discuss.html"
                                ><img class="navicon" src="images/common/nav_leaf.png" alt="" />找茶討論</a
                            >
                        </li>
                        <li class="nav_game">
                            <a class="underline" href="06_game.html"
                                ><img class="navicon" src="images/common/nav_leaf.png" alt="" />小遊戲</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <log_reg v-show="lightbox" @close="closeLoginBox()"></log_reg>
</nav>

    <div class="banner">
        <h2>茶園揪團</h2>
    </div>
    <div id="tourApp">
        <div class="choice_block">
            <div class="flex">
                <div class="twMap">
                    <div>
                        <div class="N" v-for="locationRow in locationRows" v-show="locN">
                            <a :href="'02_vote_more.html?GARD_ID=' + locationRow.GARD_ID">
                                <img class="locationImg" :src="locationRow.GARD_PIC" alt="" />
                                <p>{{locationRow.GARD_NAME}}</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="C" v-for="locationRow in locationCRows" v-show="locC">
                            <a :href="'02_vote_more.html?GARD_ID=' + locationRow.GARD_ID">
                                <img class="locationImg" :src="locationRow.GARD_PIC" alt="" />
                                <p>{{locationRow.GARD_NAME}}</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="S" v-for="locationRow in locationSRows" v-show="locS">
                            <a :href="'02_vote_more.html?GARD_ID=' + locationRow.GARD_ID">
                                <img class="locationImg" :src="locationRow.GARD_PIC" alt="" />
                                <p>{{locationRow.GARD_NAME}}</p>
                            </a>
                        </div>
                    </div>

                    <div class="twMap_img">
                        <img src="./images/tour/twMap.png" alt="" />
                    </div>
                    <button id="allLocal" @click="showAll()">全部地區</button>
                    <button id="nLocal" @click="showN()">北部地區</button>
                    <button id="cLocal" @click="showC()">中部地區</button>
                    <button id="sLocal" @click="showS()">南部地區</button>
                </div>
                <!-- <img src="../images/index/notuse/8355.png" alt=""> -->
            </div>
            <div class="tour_center_img">
                <img src="./images/tour/bg-project-map-illust.png" alt="" />
            </div>
            <div class="tour_center_img2">
                <img src="./images/index/bg-green-top.png" alt="" />
            </div>
        </div>
        <div class="main_body" id="app">
            <h1>瀏覽揪團</h1>
            <div class="choice_list">
                <ul>
                    <li @click="filterAll()" :class="{changeColor:colorAll}">
                        <h2>全部揪團</h2>
                    </li>
                    <li class=" mini_choice" :class="{changeColor:colorLocation}">
                        <h2>揪團地區 <i class="fas fa-angle-down" fa-4x></i></h2>
                        <ul>
                            <li @click="filterNorth()" :class="{changeColor:colorNorth}">北部</li>
                            <li @click="filterCenter()" :class="{changeColor:colorCenter}">中部</li>
                            <li @click="filterSouth()" :class="{changeColor:colorSouth}">南部</li>
                        </ul>
                    </li>
                    <li :class="{changeColor:colorType}">
                        <h2>茶園類型 <i class=" fas fa-angle-down" fa-4x></i></h2>
                        <ul>
                            <li @click="filterType0()" :class="{changeColor:colorType0}">觀光型</li>
                            <li @click=" filterType1()" :class="{changeColor:colorType1}">體驗型</li>
                        </ul>
                    </li>
                    <li :class="{changeColor:colorPrice}">
                        <h2>預估費用 <i class=" fas fa-angle-down" fa-4x></i></h2>
                        <ul>
                            <li @click="filterPrice2000()" :class="{changeColor:colorPrice2000}">2000以下</li>
                            <li @click="filterPrice3000()" :class="{changeColor:colorPrice3000}">3000以下</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <component :is="content" :members="memRows" :tours="tourRows" :filter="filter" @sumit-form="sumit()">
            </component>
        </div>
        <form id="addLike" ref="form" action="./phps/addTourLike.php" method="post">
            <input hidden type="text" name="addCase" v-model="addCase" />
            <input hidden type="text" name="TOUR_ID" v-model="tourId" />
            <input hidden ref="submit" type="submit" />
        </form>
    </div>

    <footer>
    <h5>®偵茶者TEA SEARCHER CORPORATION. ALL RIGHTS RESERVED2020</h5>
    <h5 class="tibame">本網站為緯育TibaMe_前端設計工程師班第63期學員專題成果作品 - 參考資源</h5>
    <div>
        <a class="refer" href="https://www.dosuika.com/">土肥農園</a>
        <a class="refer" href="https://www.ja-nagano.iijan.or.jp/">JAながの</a>
        <a class="refer" href="https://www.all-toyota-gwp.jp/">TOYOTA</a>
        <a class="refer" href="https://nakahora-bokujou.jp/">なかほら牧場</a>
    </div>
    <h5 class="nono" class="tibame"><a class="refer" href="https://tibamef2e.com">這裡</a>
        為緯育TibaMe提供給[Web/APP前端設計工程師養成班]學員展示作品之平台</h5>
    <h5 class="tibame">若有侵權疑慮，請私訊<a class="refer" href="https://www.facebook.com/webindex/">TibaMe-前端設計工程師養成班</a></h5>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="./vendors/slick-1.8.1/slick/slick.js"></script>
<script src="./js/login_vue.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/01_tour.js"></script>
</body>

</html>